@import './fonts.css';
.App {
  text-align: center;
}
a, a:active, a:hover {
  text-decoration: none;
  color: white;
  outline: 0;
}

/* Header section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Apercu"
}

.header-logo {
  padding: 5px 28px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
}

.header-name {
  color:#edf2f4;
  border: 3px solid #edf2f4;
  padding: 0.7em;
  font-size: 1rem;
  animation: show 0.5s;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
  padding: 1.65rem;
  text-align: right;
  color: lightgrey;
  z-index: 2;
  transition: all .2s linear;
}

.nav-item {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 2rem;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: .2rem;
  opacity: 0;
  bottom: -1rem;
  left: 0;
  transition: all .1s ease-in-out;
  background-color: lightgrey;
}

.nav-item:hover:after {
  opacity: 1;
}
/* End Header section */


/* Video Background */

.video-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  object-fit: cover;
  z-index: -1; /* Behind all other content */
} 




/* Body Section */
.body {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 56rem;
  position: relative;
  background: none;
  z-index: 1; /* Above the video background */
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.body .body-container {
  position: relative;
  display: flex;
  max-width: 80%; /* Adjust the maximum width as needed */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.body-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%; /* Adjust the maximum width as needed */
  text-align: center; /* Center the text within body-profile */
  position:absolute;
}

.body-img {
  width: 100%; /* Adjust the size of the image as needed */
  max-width: 200px; /* Set a maximum width for the image */
  border-radius: 50%;
}

.body-content {
  padding-top: 2rem;
  text-align: center;
  z-index: 2;
}

.body-headline {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: white;
}

.body-text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: lightgray;
}

.body-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2.8rem;
}

.body .icon-link {
  padding: 0.8rem 0.8rem;
  color: white;
}

.icon-link:hover {
  color: lightgray;
  transform: scale(1.05);
}
/* End Body Section */ 

/* About Section */
.about {
  height: 85vh;
  width: 100%;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
  background: linear-gradient(
    #0c0c2e,
    #180c33 80%,
    #000000 100%
  );
  color: white;
}

/* Add this to your existing CSS file */
.about-info {
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
  flex-direction: row; /* Display content in a row */
  flex-wrap: wrap;
}

.about-heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
  margin-right: 20px; /* Add margin to separate heading from image */
}

.about-img img {
  width: 100px; /* Adjust the width as needed */
  border-radius: 10px;
}


.about-desc {
  font-size: 1.7rem;
  line-height: 2rem;
  max-width: 800px; /* Adjust the max-width as needed */
  margin-top: 1rem; /* Add margin for separation */
  text-align: justify;
  font-family: "DonegalOne-Regular", sans-serif;
}






/* Add these styles to your existing CSS file */

.about .star {
  position: absolute;
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  animation: twinkle 2s infinite;
  opacity: 0.8;
}

.about .star1 {
  top: 20%;
  left: 10%;
}

.about .star2 {
  top: 70%;
  left: 80%;
}

.about .star3 {
  top: 40%;
  left: 50%;
}
.about .stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* Behind the content */
  background-color: #0c0c2e; /* Adjust to match your background color */
}
/* Add more styles for additional stars */



/* Add more styles for additional stars */


/* End About Section */



/* Projects section */
.projects {
  background-color: #e9d5a1;
  height: 65vh;
  margin-top: -2rem;
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.heading {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: .3rem;
  
}
.projects-container {
  padding: 3rem;
}
.projects-container .project {
  position: relative;
  height: 38vh;
  border: 0.3rem solid black;
  border-radius: 20px;
  margin: 0 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects-container .project .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.2rem;
  height: 85%;
  border-radius: 15px;
  transition: all 0.5s;
  cursor: auto;
  overflow: hidden;
}
.content:hover {
  transform: translate(0, -10px);
}
.content:before {
  content: "";
  display: block;
  padding-top: 10%;
}
.projects-container .project .content img{
  display: block;
  margin: 0 auto;
  width: 31%;
}
.name {
  color: #2b2d42;
  margin: 10px 0;
  font-size: 1.6rem;
  margin-bottom: -0.5rem;
}
.description {
  color: #2b2d42;
  font-size: 1rem;
  padding: 0rem 1rem;
  margin-bottom: 1.5rem;
}
.description-min {
  color: #2b2d42;
  font-size: 1rem;
  padding: 0rem 1rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.project-button {
  width: 8rem;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 5px 25px;
  border: 1px solid rgba(30, 39, 46, 0.7);
  border-radius: 8%;
  color: rgba(30, 39, 46, 0.7);
}
.project-button:hover,
.project-button:active,
.project-button:focus{
  background-color: #ef233c;
  border-color: #ef233c;
  color: white;
}
@media (min-width: 500px) and (max-width: 650px) { 
  .projects-container .project {
    position: relative;
    height: 38vh;
    border: 0.3rem solid black;
    border-radius: 20px;
    margin: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .projects-container .project .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1.2rem;
    height: 88%;
    border-radius: 15px;
    transition: all 0.5s;
    cursor: auto;
    overflow: hidden;
  }
  .projects-container .project .content img{
    display: block;
    margin: 0 auto;
    width: 31%;
  }
  .name {
    color: #2b2d42;
    margin: 10px 0;
    font-size: 1.4rem;
    margin-bottom: -0.5rem;
  }
  .description {
    color: #2b2d42;
    font-size: 1rem;
    padding: 0rem 1rem;
    margin-bottom: 1.2rem;
  }
  .description-min {
    color: #2b2d42;
    font-size: 1rem;
    padding: 0rem 1rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .project-button {
    width: 8rem;
    font-size: 1.05rem;
    font-weight: 800;
    padding: 3px 25px;
    border: 1px solid rgba(30, 39, 46, 0.7);
    border-radius: 8%;
    color: rgba(30, 39, 46, 0.7);
  }
}
@media (min-width: 1000px) { 
  .projects-container {
    padding: 3rem;
  }
  .projects-container .project {
    position: relative;
    height: 38vh;
    border: 0.3rem solid black;
    border-radius: 20px;
    margin: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .projects-container .project .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1.2rem;
    height: 85%;
    border-radius: 15px;
    transition: all 0.5s;
    cursor: auto;
    overflow: hidden;
  }
  .content:hover {
    transform: translate(0, -10px);
  }
  .content:before {
    content: "";
    display: block;
    padding-top: 10%;
  }
  .projects-container .project .content img{
    display: block;
    margin: 0 auto;
    width: 31%;
  }
  .name {
    color: #2b2d42;
    margin: 10px 0;
    font-size: 1.6rem;
    margin-bottom: -0.5rem;
  }
  .description {
    color: #2b2d42;
    font-size: 1rem;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
  }
  .description-min {
    color: #2b2d42;
    font-size: 0.8rem;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .project-button {
    width: 8rem;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 4px 25px;
    border: 1px solid rgba(30, 39, 46, 0.7);
    border-radius: 8%;
    color: rgba(30, 39, 46, 0.7);
  }
}
@media (min-width: 2000px) { 
  .projects-container {
    padding: 3rem;
  }
  .projects-container .project {
    position: relative;
    height: 38vh;
    border: 0.3rem solid black;
    border-radius: 20px;
    margin: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .projects-container .project .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1.2rem;
    height: 85%;
    border-radius: 15px;
    transition: all 0.5s;
    cursor: auto;
    overflow: hidden;
  }
  .content:hover {
    transform: translate(0, -10px);
  }
  .content:before {
    content: "";
    display: block;
    padding-top: 10%;
  }
  .projects-container .project .content img{
    display: block;
    margin: 0 auto;
    width: 35%;
  }
  .name {
    color: #2b2d42;
    margin: 10px 0;
    font-size: 1.6rem;
    margin-bottom: -0.2rem;
  }
  .description {
    color: #2b2d42;
    font-size: 1.2rem;
    padding: 0rem 1rem;
    margin-bottom: 1.7rem;
  }
  .description-min {
    color: #2b2d42;
    font-size: 1.2rem;
    padding: 0rem 1rem;
    margin-bottom: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .project-button {
    width: 8rem;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 7px 25px;
    border: 1px solid rgba(30, 39, 46, 0.7);
    border-radius: 8%;
    color: rgba(30, 39, 46, 0.7);
  }
}

/* Skills section */
.skills {
  background-color: lightblue;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.title {
  font-size: 4rem;
  color: black;
  margin: 3rem 0;
  text-align: center;
  margin-top: 5%;
  letter-spacing: 0.3rem;
}

.skill-cards {
  background-color: gray;
  padding: 1.2rem 1rem 1rem 1rem;
  margin: 1.2rem;
    width: 10rem;
  border-radius: 8px;
  color: #ffffff;
}

.skill-icon {
  color: white;
  font-size: 40px;
}

.skill-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
}

.skill {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 3px 4px #000000;
  text-transform: uppercase;
}

.skill-cards:hover {
  box-shadow: 0px 2px 10px #000000;
}

@media (max-width: 500px) { 
  .title {
    font-size: 4rem;
    color: black;
    margin: 3rem 0;
    text-align: center;
    margin-top: 8%;
    letter-spacing: 0.3rem;
  }

  .skill-cards {
    background-color: gray;
    padding: 1.2rem 1rem 1rem 1rem;
    margin: 0.2rem;
    width: 7em;
    border-radius: 8px;
    color: #ffffff;
  }

  .skill-icon {
    color: white;
    font-size: 40px;
  }

  .skill-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 4em 0;
  }

  .skill {
    padding: 0;
    font-size: 0rem;
  } 
} 
/* End Skills section */

/* Footer section */
.footer {
  min-height: 20vh;
  width: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
}

.footer .footer-contact-info {
  padding: 20px;
}

.footer .footer-contact-info .footer-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.footer .footer-contact-info .footer-contact-access {
  font-size: 1.4rem;
  padding-top: 10px;
  letter-spacing: 0.2rem;
  margin-bottom: -0.1rem;
}

.footer .social-icons a {
  color: white;
  font-size: 3rem;
  margin: 0.7rem;
  display: inline-block;
}

/* Contact form styling */
.footer .footer-contact-info form input,
.footer .footer-contact-info form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: white;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.footer .footer-contact-info form input:focus,
.footer .footer-contact-info form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: black;
}

.footer .footer-contact-info form input::placeholder,
.footer .footer-contact-info form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.footer .footer-contact-info form input:focus::placeholder,
.footer .footer-contact-info form textarea:focus::placeholder {
  color: black;
  opacity: 0.8;
}

.footer .footer-contact-info form button {
  font-weight: 700;
  color: black;
  background-color: white;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.footer .footer-contact-info form button span {
  z-index: 1;
  position: relative;
}

.footer .footer-contact-info form button:hover {
  color: white;
}

.footer .footer-contact-info form button::before {
  content: "";
  background: black;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.footer .footer-contact-info form button:hover::before {
  width: 100%;
}

/* End Footer section */



/* Timeline section */
/* Timeline.css (external CSS file) */
.timeline {
  padding: 2rem 0;
  background-color: #F5F5DC; /* Set your desired background color */
  text-align: center;
  height: 30vh;
  margin: 0;
}

.timeline-heading {
  font-size: 4rem;
  color: black;
  margin: 3rem 0;
  text-align: center;
  margin-top: 5%;
  letter-spacing: 0.3rem;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #333; /* Set your desired text color */
  text-align: center;
}

.timeline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline-element {
  width: 23%; /* Adjust the width as needed, leaving some space for margins */
  margin-bottom: 1rem;
  flex: 1;
}
.timeline-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.timeline-box {
  border: 2px solid #333;
  padding: 1rem;
  background-color: #f0f0f0;
  text-align: center;
  width: 100%; /* Set each box to take up the full width */
}

.timeline p {
  margin: 0;
}

.timeline h2 {
  text-align: center;
  margin-bottom: 1rem; /* Add space between heading and timeline */
}
.timeline h4 {
  text-align: center;
}


.iconsBackground {
  background-color: #007bff; /* Set your desired background color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
}

.timeline-text-content {
  flex-grow: 1;
  padding: 1rem; /* Add padding to separate content from the icons */
  max-width: 300px; /* Adjust the maximum width as needed */
  background: white; /* Set a background color for the content area */
  border: 1px solid #007bff; /* Add a border around the content area */
}

.mbr-timeline-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff; /* Set your desired text color */
}

.mbr-timeline-text {
  font-size: 1.1rem;
  color: #666; /* Set your desired text color */
}
.mbr-timeline-text.mbr-fonts-style.display-7 {
  text-align: center;
}